# For information about entries in this file, type "man shorewall6-interfaces"
###############################################################################
#ZONE	INTERFACE	BROADCAST	OPTIONS
{% set int1 = ansible_interfaces[1] %}
{%- if int1 in ['eth0','eth1','eth2'] %}
    # int1={{int1}} as detected by cm
{%- elif int1.startswith('venet') %}
    # int1={{int1}} as detected by cm (second pass)
{%- else %}
    {%- set int1 = 'eth0' %}
    # int1={{int1}} from override by cm
{% endif %}
#
net     {{int1}}            detect          dhcp,tcpflags,nosmurfs
#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
