# **IMPORTANT** Lists with commas must NOT have spaces!

# Trusted Locations: 
TRUSTED1={{ethernet.TRUSTED_SIX1}}
{% if ethernet.TRUSTED_SIX2 is defined %}
TRUSTED2={{ethernet.TRUSTED_SIX2}}
{% else %}
TRUSTED2=::1
{% endif %}


# Monitoring provided by Third Party: 
MONTHIRD1=::1
MONTHIRD2=::1
MONTHIRD3=::1
MONTHIRD4=::1
MONTHIRD5=::1

# Monitoring nrpe
{% if ethernet.MONNRPE_SIX is defined %}
MONNRPE={{ethernet.MONNRPE_SIX}}
{% else %}
MONNRPE=::1
{% endif %}

# Monitoring own
{% if ethernet.MONFIRST_SIX is defined %}
MONFIRST={{ethernet.MONFIRST_SIX}}
{% else %}
MONFIRST=::1
{% endif %}
 
# Load in any custom params this site may need
INCLUDE params.custom
# Last line, do not remove
