# Nagios nrpe .cfg file - lives in directory nrpe.d 
#server_port=5666
server_port={{nrpe.server_port}}
#server_address=aa.bb.cc.dd
#allowed_hosts=127.0.0.1,aa.bb.cc.dd
allowed_hosts={{ [ethernet.TRUSTED_IPF1,ethernet.MONNRPE_IPF,ethernet.MONFIRST_IPF]|join(',') }}
