#!/bin/sh
{% set drop_dir = '/etc/dropbear' %}
{% set drop_flags = '-E -F -g -j -k -w' %}
exec 2>&1
{% if ssh2 %}
exec dropbear -d {{drop_dir}}/dropbear_dss_host_key -r {{drop_dir}}/dropbear_rsa_host_key {{drop_flags}} -p {{ansible_default_ipv4.address}}:{{ssh2.port2}} -b {{drop_dir}}/sshbanner
{% else %}
exec dropbear -d {{drop_dir}}/dropbear_dss_host_key -r {{drop_dir}}/dropbear_rsa_host_key {{drop_flags}} -p {{ansible_default_ipv4.address}}:60222 -b {{drop_dir}}/sshbanner
{% endif %}
#exec dropbear -d ./dropbear_dss_host_key -r ./dropbear_rsa_host_key -F -E -p 22
