{% if apachevars is defined and apachevars.listen is defined %}

# Use bare elem instead of {{elem}} within loop to avoid ansible warning
{% for elem in apachevars.listen|sort %}
NameVirtualHost *:elem
Listen elem
{% endfor %}

{% endif %}
