<IfModule mod_wsgi.c>
{% if apachevars is defined and apachevars.wsgiport > 80 %}
# NameVirtualHost *:{{apachevars.wsgiport}}
Listen {{apachevars.wsgiport}}
{% else %}
# NameVirtualHost *:8280
Listen 8280
{% endif %}
</IfModule>
